---
title: Rust Tallinn
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tallinn.rs/">
    <meta property="og:site_name" content="{{ title }}{{ title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="">
    <!-- <meta property="og:image" content="https://tallinn.rs/logo.jpg"> -->
    <!-- <meta property="twitter:card" content="summary_large_image"> -->
    <meta property="twitter:site" content="@rusttallinn">
    <meta property="twitter:url" content="https://tallinn.rs/">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="">
    <!-- <meta property="twitter:image" content="https://tallinn.rs/logo.jpg"> -->

    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/eventpage.css">
  </head>
  <body class="{{ section }}">
    {{ content | safe }}
  </body>
</html>
