body {
  margin: auto;
  max-width: 48em;
}

button {
  display: block;

  border: .2em solid black;
  border-radius: 1em;
  font-family: inherit;
  padding: .6em 1em;
  font-size: 1.4em;
  font-weight: 900;
  margin: 1.4em auto;
}
button:hover {
  cursor: pointer;
  background: #222;
  color: white;
}
button:focus {
  outline: .2em yellow;
}

h2 {
  font-family: 'Pacifico';
  font-size: 2.5em;
}

h3 {
  margin-top: 1.6em;
  margin-bottom: .6em;

  text-decoration: uppercase;
}

p {
  margin-top: .6em;
  margin-bottom: .6em;
}

a {
  font-weight: bold;
}
a:hover, a:active {
  color: #d40;
}
a:not(:hover) {
  text-decoration: none;
  color: #777;
}


/* Gift page */
.events form {
  width: 100%;
  width: max(32em, 100%);
}
.events form > * {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

.events form > input,
.events form > button,
.events form > h2 {
  font-size: max(4vw, 2.5em);
}

.events form > h2,
.events form > p {
  text-align: center;
  padding: 0 1em;
}

.events form > input {
  letter-spacing: .5em;
}

.events form > input,
.events form > button {
  width: 14em;
  height: 2.5em;
  text-align: center;
  border-radius: .5em;
}
